<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti obcaecati culpa ipsam vel nisi fugiat impedit nam minus eveniet!
        </p>
    </div>
</section>