<div class="jumbotron mt4">
    <h1 class="display-4">Agencia de viajes</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nihil veritatis, itaque et deserunt voluptate!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil vitae libero natus quaerat eos corrupti quos, similique autem doloribus facere!
    </p>

    <a href="https://www.codigofacilito.com" class="btn btn-primary">Cody</a>
</div>